<div class="bookings-container">
  <div class="bookings">
    <% @bookings.each do |booking| %>
      <a href=<%=new_item_booking_path(booking.item_id)%>>
      <h5><%= booking.item.name %></h5></a>
      <%= cl_image_tag "#{booking.item.photo.key}", crop: :fit, style: 'max-width: 400px;' %>
      <p> Status: <%= booking.status %></p>
      <% end %>
  </div>
</div>
