  <div>
    <h1>New Booking</h1>
  </div>
  <div class= "form-text-booking">
    <%= simple_form_for [@item, @booking] do |f| %>
      <%= f.input :start_date, as: :date, required: true, input_html: {class: "input-booking"} %>
      <%= f.input :end_date, as: :date, required: true, input_html: {class: "input-booking"} %>
      <%= f.submit "Request to book" %>
    <% end %>
  </div>

<%# implement booking/price logic %>
