  <div class="top-right-text">
    <h4>Swipe <strong>UP</strong> to <strong>LEND</strong></h4>
  </div>
  <div class="bottom-left-text">
    <h4>Swipe <strong>DOWN</strong> to <strong>BORROW</strong></h4>
  </div>

<div data-controller="drag-home">
  <div class="main"  >
    <h1>NEARBY</h1>


    <div class="white-circle" >
    </div>

    <div class="yellow-circle">
    </div>

    <div class="anchor" data-drag-home-target="dragging">
    </div>

    <div class="yellow-rect">
    </div>

    <div class="white-rect">
    </div>

  </div>
</div>


<script>
  window.onscroll = function(ev) {

    // REDIRECT TO USER'S PROFILE
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      setTimeout(function() {
        if ("<%= user_signed_in? %>") {
          window.location.replace("<%= user_path(current_user) %>");
        } else  {
          window.location.replace("<%= new_user_session_path %>");
        }}, 0)
      }
       // REDIRECT TO SEARCH (INDEX)
     else if ((window.scrollY) === 0) {
      setTimeout(function() {
          window.location.replace("<%= items_path %>");
      }, 0)
     }
  };

</script>
