.alert {
  border: 2px solid #F6DB2D;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 1000;
  transition: 500ms ease-in-out;
  border-radius: 60px;
  background-color: white;
  color: black;
  padding: 0px 15px;
}

.btn-close-small  {
  background-color: #FFF6BF;
  opacity: 0.3;
  border: none;
}

.alert-dismissible .btn-close {
position: relative !important;
}
