$yellow-blast: #F6DB2D;
$soft-yellow: #FFF6BF;


// LARGE BUTTON DOWN BELOW

.button-yellow {
  transition: 250ms ease-in-out;
  border-radius: 60px;
  border: 2px solid black;
  background: $yellow-blast;
  font-weight: 400;
  color: black;
  padding: 5px 15px ;
  width: 150px;
  box-shadow: 8px 4px 0px black;
  text-align: center;
}

.button-yellow:hover {
  box-shadow: none;
  border: 2px solid $yellow-blast;
}

.button-yellow a {
  text-decoration: none;
  color: black;
  font-family: 'Inter', sans-serif;
}


// ROUND BUTTON DOWN BELOW

.button-round {
  transition: 250ms ease-in-out;
  border-radius: 50%;
  border: 2px solid black;
  background: $yellow-blast;
  font-weight: 400;
  color: black;
  width: 300px;
  height: 300px;
  box-shadow: 8px 4px 0px black;
  text-align: center;
}

.button-round:hover {
  box-shadow: none;
  border: 2px solid $yellow-blast;
}

.button-round a {
  text-decoration: none;
  color: black;
}
