// items:

.h1-item-form {
  margin-left: 8%;
  font-weight: 600;
}


.form-text {
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 0;
}


.input-items {
  border-radius: 20px;
  background-color: #FFF6BF;
  margin-top: 0%;
  margin-bottom: 5%;
  border: 2px solid black;
  height: 40px;
}


.input-photo {
  // items photo
  border-radius: 20px;
  background-color: #FFF6BF;
  border: 2px solid black;

}


// #new_item {
//   margin-top: 20%;



// }


.new-item-container h1 {
  padding-top: 15%;
  margin-bottom: 0;
}


.input-bookings {

  border-radius: 20px;
  background-color: #FFF6BF;
  margin-top: 0%;
  margin-bottom: 10%;
  border: 2px solid black;

}

.form-text-booking {
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 12%;
  padding-bottom: 150px;

}


.h1-booking-form {
  margin-left: 28%;
  // margin-top: 25%;
  // margin-bottom: 10%;

}


.button-large-items {
  transition: 250ms ease-in-out;
  border-radius: 60px;
  border: 2px solid black;
  background: $yellow-blast;
  font-weight: 400;
  color: black;
  padding: 5px 15px;
  width: 150px;
  box-shadow: 8px 4px 0px black;
  font-family: 'Inter', sans-serif;
  text-align: center;
  // margin-top: 10%;
  // margin-bottom: 0%;
  // margin-left: 30%;
  // margin-right: 15%;
}


.button-large-items:hover {
  box-shadow: none;
  border: 2px solid $yellow-blast;
}


.new-booking-content h1 {
  padding-top: 15%;

}

.new-booking-content .button-large  {
  margin-left: 45%;
}


.button-back {
    transition: 250ms ease-in-out;
    border-radius: 50px;
    border: 2px solid black;
    background: white;
    font-weight: 400;
    color: black;
    padding: 5px 15px ;
    width: 65px;
    box-shadow: 8px 4px 0px black;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight:20px;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;

}

.button-back:hover {
  box-shadow: none;
  border: 2px solid $yellow-blast;
}
