
.h1-item-form {
  margin-left: 10%;
  margin-top: 8%;
  margin-bottom: 10%;
}


.form-text {
  color: black;
  margin-left: 15%;
  margin-right: 15%;
}



.input-items {
  border-radius: 20px;
  background-color: #FFF6BF;
  margin-top: 0%;
  margin-bottom: 10%;

}



.input-photo {
  border-radius: 20px;
  background-color: #FFF6BF;

}
