.image-size {
  width: 100%;
}

.image-container {
  display: flex;
  img {
    width: 100%;
  }
}

.container-item {
  padding: 4%;
}

.item-show-card {
  display: flex;
  justify-content: space-between;
}

.item-tokens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner-card {
  display: flex;
  justify-content: space-between;
}

.user-card {
  display: flex;
  justify-content: flex-start;
}

.user-picture{
 justify-content: center;
 align-self: center;
}

.user-information {
  padding-left: 8px;
  justify-content: center;
  align-items: center;
}

.user-information a {
  color: black;
}

.user-message{
  display :flex;
  justify-content: center;
  align-items: center;
}

.user-message h1{
  align-self: center;
  margin-bottom: 0px !important;
}

.user-message a {
  color: black;
}

.stars{
  margin-bottom: 0px !important;
}

.button-large.borrow {
  margin-left: 50px;
}
