.mapboxgl-popup {
  max-width: 200px;
  min-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}
