.mapboxgl-popup {
  width: 200px;
  height: 230px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Inter", sans-serif;
  border-radius: 15px;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}

.popup-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 15px;
}

.mapboxgl-popup-content h2 > a {
  font-weight: 700;
  color: #F6DB2D;
}


.mapboxgl-popup-content h5 {
  color: black;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.map-item-info {
  padding-top: 6%;
  display: flex;
  justify-content: space-around;
}

.map-item-info p {
  color: black;
}

.map-on-item-index .mapboxgl-map {
  overflow: hidden;
  position: inherit;
}

.map-on-item-index .mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
