.items-container {
  background-color: #F6DB2D;
  height: 100vh;
}

.item-container {
  padding-bottom: 50px;
  padding-left: 20px;
}

.item-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.text-color {
  color: white;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}
